<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Makai">
    <meta name="description" content="Swift language articles and tutorials.">
    <title>{% block title %}{% endblock %}Full Stack Swift</title>
    <link href="/theme/css/s.css" rel="stylesheet">
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Full Stack Swift</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
        <hr/>
        <div class="footer pull-right" style="margin-bottom: 25px;">
            <a href="http://www.mattmakai.com/">Matt Makai</a> 2016
        </div>
    </div>
    {% include "googleanalytics.html" %}
</body>
</html>
