<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Matt Makai">
  <meta name="description" content="Swift language articles and tutorials.">
  <title>{% block title %}{% endblock %}Full Stack Swift</title>
  <link href="/theme/css/f.css" rel="stylesheet">
  <link rel="shortcut icon" href="/source/theme/static/img/fss-logo.png">
</head>

<body>
    <div class="container">
        {% include "nav.html" %}
        {% include "forkme.html" %}
        <div class="row">
            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
    {% include "googleanalytics.html" %}
</body>
</html>
